.card {
  display: block;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;

  box-sizing: border-box;
  width: 350px;
  min-height: 140px;
  padding: 25px 20px;

  background-color: #f6f6f6;

  &--link {
    height: 100%;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }


  &--align--left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__name {
    text-align: center;
    text-transform: uppercase;

    color: #252c30;

    line-height: 24px;

    @include make-ff-nova(20px, 500);

    &:not(:last-child) {
      margin-bottom: 1px;
    }
  }

  &--align--left &__name {
    text-align: left;
  }

  &__descr {
    text-align: center;

    color: #252c30;

    line-height: 24px;

    @include make-ff-nova(18px);
  }


  &--align--left &__descr {
    text-align: left;
  }
}
