.contact {
  display: inline-flex;
  align-items: center;

  margin: 0;
  padding: 0;

  color: white;

  line-height: 100%;

  @include make-ff-nova(15px, 400);

  &__icon {
    display: block;

    box-sizing: border-box;
    min-width: 20px;
    min-height: 20px;
    margin-right: 10px;

    &--tel {
      background-image: url('../assets/imgs/icon_tel--bold.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    &--email {
      background-image: url('../assets/imgs/icon_email.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    &--email-full {
      background-image: url('../assets/imgs/icon_email--full.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    &--address {
      background-image: url('../assets/imgs/icon_address.png');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
