.infographics {
  background-color: $main-color-dark;
  background-image: url('../assets/imgs/main-infographics-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  &__content {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;

    box-sizing: border-box;
    min-height: 272px;
    padding-top: 12px;
  }

  &__figure {
    display: block;

    margin-bottom: 20px;

    text-align: center;

    color: #f8c870;

    line-height: 100%;

    @include make-ff-nova(45px, 500);

  }

  &__caption {
    display: block;

    text-align: center;

    color: white;

    line-height: 1.16;

    @include make-ff-nova(25px, 500)
  }

  &__item {
    margin: 0;
    padding: 0;
    max-width: 325px;
  }
}
