.jumbotron {
  padding-top: 287px;
  padding-bottom: 297px;

  background-image: url('../assets/imgs/main-jumbotron-bg.jpg');
  background-repeat: 0;
  background-position: center;
  background-size: cover;

  &--about {
    padding-top: 185px;
    padding-bottom: 75px;

    background-image: url('../assets/imgs/about-jumbotron-bg.jpg');
  }

  &--clients {
    padding-top: 185px;
    padding-bottom: 75px;

    background-image: url('../assets/imgs/client-jumbotron-bg.jpg');
  }

  &--services {
    padding-top: 185px;
    padding-bottom: 75px;

    background-image: url('../assets/imgs/services-jumbotron-bg.jpg');
  }

  &__heading {
    position: relative;

    max-width: 510px;
    margin: 0;
    margin-bottom: 31px;
    padding: 0;
    padding-top: 32px;

    color: white;

    @include make-ff-nova(41px);

    &:before {
      position: absolute;
      top: 0;
      left: 0;

      display: block;

      width: 57px;
      height: 5px;

      content: '';

      background-color: $main-color-contrast;
    }
  }

  &--about &__heading,
  &--services &__heading,
  &--clients &__heading {
    padding: 0;
    margin: 0;

    &:before {
      display: none;
    }
  }

  &__btn-container {
    margin: 0;
  }
}
