.services {
  padding-top: 80px;
  padding-bottom: 140px;

  &__heading {
    margin-bottom: 30px;
  }

  &__paragraph {
    text-align: center;
    max-width: 795px;
    margin: 0 auto;

    &--bold {
      font-weight: 500;
    }
  }

  &__cards {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
