.service-card {
  $lh: 27px;

  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  justify-content: flex-end;

  box-sizing: border-box;
  width: 255px;
  min-height: 380px;
  padding: 30px 25px;

  letter-spacing: 0.9px;
  text-transform: uppercase;

  color: white;
  background-color: $main-color-dark;

  line-height: $lh;

  @include make-ff-nova(18px, 500);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &--audit {
    background-image: url('../assets/imgs/main-services-audit.jpg');
  }

  &--strategy {
    background-image: url('../assets/imgs/main-services-strategy.jpg');
  }

  &--taxes {
    background-image: url('../assets/imgs/main-services-taxes.jpg');
  }

  &--other {
    background-image: url('../assets/imgs/main-services-other.jpg');
  }

  &__line {
    display: inline-block;

    min-height: $lh;

    &:first-child {
      position: relative;

      padding-top: 24px;

      &:before {
        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 28px;
        height: 3px;

        content: '';

        background-color: $main-color-contrast;
      }
    }
  }
}
