{% macro make(highlight, rest, mods) %}
  <h2 class="heading{{ ' ' + mods if mods}}">{% if highlight !== false %}<span class="heading__highlight">{{ highlight | capitalize }} </span>{% endif %}{{ rest }}</h2>
{% endmacro %}
