{% macro make(link, lines, mods) %}
  <a href="{{ link }}" class="service-card{{ ' ' + mods if mods}}">
    {% for line in lines %}
      <span class="service-card__line">{{ line }}</span>
    {% endfor %}
  </a>
{% endmacro %}
