.page-services {
  &__heading {
    margin-bottom: 20px;

    text-align: left;

    &:before {
      left: 0;
      transform: none;
    }
  }

  &__paragraph {
    margin-bottom: 55px;
    margin-top: 0;

    &--no-margin {
      margin-bottom: 0;
    }

    &--margin {
      &--md {
        margin-bottom: 40px;
      }
      &--xs {
        margin-bottom: 20px;
      }
      &--sm {
        margin-bottom: 30px;
      }
    }

    &--other {
      max-width: 865px;
    }
  }

  &__block {
    position: relative;

    padding-top: 60px;
    padding-bottom: 45px;

    &:after {
      position: absolute;
      bottom: 0;
      left: 15px;

      display: block;

      width: calc(100% - 30px);
      height: 1px;

      content: '';

      background-color: #999aa6;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;

    &-paragraph {
      max-width: 735px;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;

      text-align: center;
    }
  }

  &__list {
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;

    & li {
      &:nth-child(n + 4) {
        margin-top: 25px;
      }
    }
  }

  &__accordion &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-flow: column nowrap;

    & li {
      position: relative;

      padding-left: 15px;

      &:nth-child(n) {
        margin-top: 10px;

        &.no-margin {
          margin-top: 0;
        }
      }

      &:before {
        display: block;
        content: '';
        position: absolute;
        left: 2px;
        top: 15px;
        transform: translateY(-50%);
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: $semi-color-brown;
      }

      &.no-marker:before {
        display: none;
      }
    }
  }

  &__programs {
    margin-top: 140px;
    padding-top: 140px;
    padding-bottom: 200px;
    background-color: #f6f6f6;

    &-heading {
      margin-bottom: 25px;
    }

    &-paragraph {
      text-align: center;
      margin: 0;
      margin-bottom: 70px;
    }
  }

  &__accordion {
    color: #252c30;
    background-color: #ededed;

    &:not(:last-child) {
      margin-bottom: 6px;
    }
    &-heading {
      position: relative;

      display: inline-block;

      width: 100%;
      margin: 0;
      padding: 18px 30px 16px;

      cursor: pointer;

      @include make-ff-nova(18px);

      &:after {
        position: absolute;
        top: 31px;
        right: 30px;

        display: block;

        width: 10px;
        height: 6px;

        content: '';
        transform: translateY(-50%);

        background-image: url('../assets/imgs/icon_arrow.png');
      }
    }

    &-content {
      display: block;
      padding: 0 30px 16px;
    }

    [data-accordion="collapse"] &-content {
      display: none;
    }

    [data-accordion="show"] &-content {
      display: block;
    }

    // [data-accordion="collapsing"] &-content {
    //   display: block;
    //   position: relative;
    //   height: 0;
    //   overflow: hidden;
    //   transition: height .35s ease;
    // }
  }

  &__link {
    color: rgba(darken($main-color-contrast, 30%), 1);

    &:hover {
      color: rgba(darken($main-color-contrast, 30%), .7);
    }

    &--grey {
      color: rgb(35, 35, 35);

      &:hover {
        color: darken($main-color-contrast, 30%);
      }
    }
  }
}
