@font-face {
	font-family: 'Proxima Nova';
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'), local('Proxima Nova'), local('ProximaNova'), url('../assets/fonts/proxima-nova-bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
