{% import "partials/nav.njk" as nav %}
{% import "partials/heading.njk" as heading %}
{% import "partials/service-card.njk" as serviceCard %}

{% extends "layout.njk" %}

{% block nav %}
  {% set links = datasets.get('links') %}

  {{ nav.make(links, 'services') }}
{% endblock %}

{% block content %}
  {% set paths = datasets.get('paths') %}

  <div class="container-fluid jumbotron jumbotron--services">
    <div class="row">
      <div class="col-12">
        <div class="container">
          <div class="row">
            <div class="col-12 jumbotron__block">
              <h1 class="jumbotron__heading">Услуги</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row page-services__block">
      <div class="col-12">
        {{heading.make(false, 'Организация и проведение конкурсов', 'page-services__heading')}}
      </div>

      <div class="col-12">
        <p class="paragraph page-services__paragraph page-services__paragraph--no-margin">
          АКГ «Авантаж-Аудит» предлагает полный комплекс услуг в области права, помогающий нашим клиентам обеспечить соблюдение требований действующего законодательства при организации конкурсов в соответствии с Федеральным Законом от 05 апреля 2013 года 44-ФЗ "О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд", а также эффективно урегулировать возможные юридические споры с участниками конкурса и государственными органами.
        </p>
        <p class="paragraph page-services__paragraph page-services__paragraph--no-margin">
          Наши комплексные решения помогут вам оптимально решать сложные проблемы, возникающие при организации конкурса.
        </p>
        <p class="paragraph page-services__paragraph page-services__paragraph--margin--md">
          Мы предлагаем своим клиентам широкий спектр услуг:
        </p>

        <ul class="paragraph page-services__paragraph page-services__paragraph--margin--md list list--style--number list--spread">
          <li>
            <span class="list__line list__heading">Организация и проведение конкурса для коммерческих предприятий и государственных структур:</span>
            <ul class="list list--sublist list--no-padding">
              <li class="list__marker">составление пакета документов в соответствии с нормами российского законодательства и пожеланиями заказчика;</li>
              <li class="list__marker">разработка конкурсной документации с учетом требований заказчика;</li>
              <li class="list__marker">разработка методических рекомендаций, спецификаций и положений по организации проведения конкурса;</li>
              <li class="list__marker">осуществление действий, необходимых для организации конкурса (включая сбор и предварительную оценку конкурсных заявок, предоставления разъяснений участникам конкурса).</li>
            </ul>
          </li>
          <li>
            <span class="list__line list__heading">Консультирование:</span>
            <ul class="list list--sublist list--no-padding">
              <li class="list__marker">помощь в разрешении спорных и конфликтных ситуаций;</li>
              <li class="list__marker">консультирование по вопросам организации проведения конкурса, включая подготовку заключения специалистов по технологическим аспектам и вопросам ценообразования конкурса;</li>
              <li class="list__marker">экспертиза документов.</li>
            </ul>
          </li>
          <li>
            <span class="list__line list__heading">Материалы для проведения конкурсов.</span>
            <span class="list__line">
              Группа компаний «Авантаж Аудит» предлагает всем заинтересованным организациям полный комплект конкурсной документации необходимой для организации и проведения конкурсов в соответствии с ФЗ № 44 "О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд".
            </span>
          </li>
        </ul>

        <p class="paragraph page-services__paragraph page-services__paragraph--margin--md">
          Мы готовы к любой форме сотрудничества
        </p>
        <p class="paragraph page-services__paragraph page-services__paragraph--margin--md">
          Контактное лицо: Анохова Елена Владимировна (495) 787-64-30, 787 -64-31
        </p>
      </div>
    </div>
  </div>



{% endblock %}
