{% import "partials/nav.njk" as nav %}
{% import "partials/heading.njk" as heading %}
{% import "partials/service-card.njk" as serviceCard %}

{% extends "layout.njk" %}

{% block nav %}
  {% set links = datasets.get('links') %}

  {{ nav.make(links, 'services') }}
{% endblock %}

{% block content %}
  {% set paths = datasets.get('paths') %}

  <div class="container-fluid jumbotron jumbotron--services">
    <div class="row">
      <div class="col-12">
        <div class="container">
          <div class="row">
            <div class="col-12 jumbotron__block">
              <h1 class="jumbotron__heading">Услуги</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row page-services__block">
      <div class="col-12">
        {{heading.make(false, 'Юридические Услуги', 'page-services__heading')}}
      </div>

      <div class="col-12">
        <p class="paragraph page-services__paragraph  page-services__paragraph--margin--md">
          Мы оказываем широкий спектр услуг по правовому обеспечению предпринимательской деятельности, в том числе:
        </p>

        <p class="list__heading paragraph paragraph--bold">
          Регистрация, реорганизация, ликвидация организаций всех форм собственности и индивидуальных предпринимателей
        </p>
        <ul class="paragraph  page-services__paragraph page-services__paragraph--margin--md list">
          <li class="list__marker">Сбор, подготовка, согласование, оформление, получение и передача, необходимых документов для государственной регистрации создания, реорганизации и ликвидации юридического лица (ООО, ОАО, ЗАО, ФГУП, ГУП, МУП);</li>
          <li class="list__marker">Сбор, подготовка, получение и передача документов для государственной регистрации индивидуального предпринимателя (ИП) и прекращение физическим лицом деятельности в качестве индивидуального предпринимателя;</li>
          <li class="list__marker">Внесение изменений в учредительные документы юридического лица, и внесение изменений в сведения о юридическом лице, содержащихся в ЕГРЮЛ;</li>
          <li class="list__marker">Внесение изменений в сведения об индивидуальном предпринимателе;</li>
          <li class="list__marker">Открытие и закрытие расчетных счетов в любых банках.</li>
        </ul>

        <p class="list__heading paragraph paragraph--bold">
          Оформление прав на недвижимость
        </p>
        <ul class="paragraph  page-services__paragraph page-services__paragraph--margin--md list">
          <li class="list__marker">Сопровождение сделок с недвижимостью, согласование условий сделок с контрагентами и их юридическими службами;</li>
          <li class="list__marker">Представление интересов и юридическое взаимодействие с различными государственными органами в вопросах защиты прав на недвижимое имущество, строительной и инвестиционной деятельности в БТИ;</li>
          <li class="list__marker">Сбор информации об объекте недвижимости и проведение юридической экспертизы пакета документов, предоставленных Вам;</li>
          <li class="list__marker">Представление интересов клиентов в ходе государственной регистрации сделок с недвижимым имуществом и прав на недвижимое имущество в Федеральной регистрационной службе (ФРС) с  внесением соответствующих записей в ЕГРП, получение сведений из Единого государственного реестра прав на недвижимое имущество и сделок с ним;</li>
          <li class="list__marker">Представление интересов клиента в судах (арбитраж, общая юрисдикция) по спорам в отношении прав на недвижимое имущество (включая земельные споры), строительной и инвестиционной деятельности, обжалование отказов Федеральной регистрационной службы в судебных органах;</li>
          <li class="list__marker">Юридическое сопровождение деятельности коммерческих и некоммерческих организаций, связанных с  обслуживанием и эксплуатацией  недвижимого имущества (зданий, строений, сооружений, земельных участков и загородных поселков), в том числе ТСЖ, управляющих компаний.</li>
        </ul>

        <ul class="paragraph  page-services__paragraph page-services__paragraph--margin--md list">
          <li class="list__marker">Консультации по вопросам гражданского, корпоративного, земельного, налогового, трудового права, гражданского и арбитражного процесса, антимонопольного законодательства и т.д.;</li>
          <li class="list__marker">Досудебное урегулирование налоговых споров (оценка обоснованности актов налоговой проверки, составление возражений по ним и отстаивание этих возражений перед налоговыми органами);</li>
          <li class="list__marker">Разработка схем оптимизации налогообложения;</li>
          <li class="list__marker">Подготовка писем, претензий, процессуальных документов (исковых заявлений, апелляционных, кассационных, надзорных жалоб);</li>
          <li class="list__marker">Представительство в судах общей юрисдикции и арбитражных судах, в делах о банкротстве и процедурах банкротства, представление интересов в ходе исполнительного производства;</li>
          <li class="list__marker">Представление интересов клиента по разным вопросам: в налоговых органах, Федеральной антимонопольной службе, Федеральной службе по финансовым рынкам, Росимуществе и других государственных и муниципальных органах;</li>
          <li class="list__marker">Составление хозяйственных договоров с учетом пожеланий клиента;</li>
          <li class="list__marker">Подготовка локальных документов юридических лиц, филиалов и представительств, разработка проектов решений органов управления юридических лиц;</li>
          <li class="list__marker">Подготовка заключений по всем правовым вопросам, возникающим в деятельности предприятия (организации), разработка предложений по совершенствованию их деятельности;</li>
          <li class="list__marker">Юридическое сопровождение бизнеса (абонентское обслуживание).</li>
        </ul>

        <p class="paragraph page-services__paragraph  page-services__paragraph--no-margin">
          Также оказываем консультационные услуги в области внешнеэкономической деятельности, валютного регулирования и валютного контроля и других областях правового обеспечения предпринимательской деятельности. Оценка предполагаемой стоимости и объемов работ осуществляется бесплатно, а наш прайс-лист Вас приятно удивит.
        </p>
      </div>
    </div>
  </div>



{% endblock %}
