{% import "partials/nav.njk" as nav %}
{% import "partials/heading.njk" as heading %}
{% import "partials/service-card.njk" as serviceCard %}

{% extends "layout.njk" %}

{% block nav %}
  {% set links = datasets.get('links') %}

  {{ nav.make(links, 'services') }}
{% endblock %}

{% block content %}
  {% set paths = datasets.get('paths') %}

  <div class="container-fluid jumbotron jumbotron--services">
    <div class="row">
      <div class="col-12">
        <div class="container">
          <div class="row">
            <div class="col-12 jumbotron__block">
              <h1 class="jumbotron__heading">Услуги</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row page-services__block">
      <div class="col-12">
        {{heading.make(false, 'Услуги в области МСФО', 'page-services__heading')}}
      </div>

      <div class="col-12">
        <p class="paragraph paragraph--bold page-services__paragraph page-services__paragraph--no-margin">
          Зачем МСФО российским компаниям?
        </p>
        <p class="paragraph page-services__paragraph page-services__paragraph--margin--md">
          Помимо отчетности по российским правилам бухгалтерского учета многие отечественные компании составляют финансовую отчетность в соответствии с МСФО или ГААП США, а иногда и по стандартам одной из других стран. Прежде всего, это относится к компаниям, ценные бумаги которых котируются на европейских или американских биржах, а также к фирмам, среди учредителей и партнеров которых есть иностранные организации.
        </p>

        <p class="paragraph page-services__paragraph page-services__paragraph--margin--md">
          Отдел Международных стандартов финансовой отчетности, состоящий из высококвалифицированных, дипломированных специалистов, окажет Вам качественные услуги в различных сферах индустрии.
        </p>

        <p class="paragraph paragraph--bold page-services__paragraph page-services__paragraph--no-margin">
          Спектр услуг в области МСФО:
        </p>

        <ul class="paragraph page-services__paragraph page-services__paragraph--margin--md list list--style--number list--spread">
          <li>Проведение аудиторской проверки отчетности подготовленной в соответствии с МСФО.</li>

          <li>
            <span class="list__line list__heading">Услуги по подготовке отчетности согласно МСФО:</span>

            <ul class="list list--sublist list--no-padding">
              <li class="list__marker">Компиляция отчетности (составление отчетных форм и пояснений к ним на основании данных бухгалтерских регистров);</li>
              <li class="list__marker">Трансформация отчетности (предтрансформационная проверка правильности ведения учета по РСБУ; предварительная группировка данных; перегруппировка статей бухгалтерского баланса и отчета о прибылях и убытках; определение перечня необходимых корректировок статей баланса и отчета о прибылях и убытках; расчет сумм необходимых корректировок; непосредственно составление форм финансовой отчетности).</li>
            </ul>
          </li>

          <li>
            <span class="list__line list__heading">Консалтинговые услуги:</span>

            <ul class="list list--sublist list--no-padding">
              <li class="list__marker">Услуги по формированию учетных политик, планов счетов, таблиц соответствия российского и международного планов счетов;</li>
              <li class="list__marker">Услуги по формированию учетных политик, планов счетов, таблиц соответствия российского и международного планов счетов;</li>
              <li class="list__marker">Услуги, связанные с внедрением международных стандартов - проведением тренингов для сотрудников финансово-экономического блока, семинаров для Топ-менеджеров холдинговых компаний;</li>
              <li class="list__marker">Услуги по сопровождению процесса автоматизации учета и ведения учета в соответствии с МСФО, либо текущее консультирование по вопросам, связанным с международными стандартами.</li>
            </ul>
          </li>

          <li>Составление консолидированной отчетности, разработка внутреннего положения о консолидированной финансовой отчетности с учетом требований МСФО;</li>

          <li>Оценка имущества и бизнеса для целей МСФО</li>
        </ul>

        <p class="paragraph paragraph--bold page-services__paragraph page-services__paragraph--no-margin">
          Специальное предложение!
        </p>
        <p class="paragraph page-services__paragraph page-services__paragraph--margin--md">
          При заключении договора на услуги в области МСФО в комплексе с другими оказываемыми нами услугами предоставляется скидка 10%.
        </p>

      </div>
    </div>
  </div>



{% endblock %}
