@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), local("Proxima Nova"), local("ProximaNova"), url("../assets/fonts/proxima-nova-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), local("Proxima Nova"), local("ProximaNova"), url("../assets/fonts/proxima-nova-semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), local("Proxima Nova"), local("ProximaNova"), url("../assets/fonts/proxima-nova-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

/* A base styles */
body {
  margin: 0;
  min-width: 550px; }

.btn {
  display: inline-block;
  min-width: 160px;
  padding: 13px 20px 11px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: rgba(16, 21, 65, 0.86);
  border-radius: 3px;
  background-color: #fece76;
  -webkit-box-shadow: 0 0 9px 0 rgba(1, 13, 46, 0.27);
          box-shadow: 0 0 9px 0 rgba(1, 13, 46, 0.27);
  line-height: 100%;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14.5px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-decoration: none; }
  .btn:hover {
    background-color: #fed385;
    color: #101541; }
  .btn--no-shadow {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .btn--grey {
    color: #474963;
    background-color: #ededed; }
    .btn--grey:hover {
      background-color: #e0e0e0;
      color: #474963; }

.heading {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  position: relative;
  color: #252c30;
  text-align: center;
  line-height: 100%;
  font-family: "Proxima Nova", sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-style: normal; }
  .heading:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: #fece76;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .heading__highlight {
    color: #fece76; }

.paragraph {
  color: #232323;
  line-height: 1.67;
  font-family: "Proxima Nova", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal; }
  .paragraph--bold {
    font-weight: 600; }
  .paragraph--maw--900 {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto; }
  .paragraph--align--center {
    text-align: center; }
  .paragraph--align--right {
    text-align: right; }

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 19px; }
  .list--style--number {
    list-style: decimal; }
  .list--no-padding {
    padding-left: 0; }
  .list li {
    position: relative;
    margin-bottom: 10px; }
  .list--sublist li {
    margin-bottom: 5px; }
  .list--spread > li {
    margin-bottom: 40px; }
  .list--no-margin li {
    margin-bottom: 0; }
  .list__line {
    display: block;
    margin-bottom: 10px; }
  .list__heading {
    margin: 0; }
  .list__marker {
    padding-left: 15px; }
    .list__marker:before {
      display: block;
      content: '';
      position: absolute;
      left: 4px;
      top: 15px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 5px;
      height: 2px;
      border-radius: 0;
      background-color: #232323; }

/* End of A base styles */
.contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  color: white;
  line-height: 100%;
  font-family: "Proxima Nova", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal; }
  .contact__icon {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 20px;
    min-height: 20px;
    margin-right: 10px; }
    .contact__icon--tel {
      background-image: url("../assets/imgs/icon_tel--bold.png");
      background-repeat: no-repeat;
      background-position: center; }
    .contact__icon--email {
      background-image: url("../assets/imgs/icon_email.png");
      background-repeat: no-repeat;
      background-position: center; }
    .contact__icon--email-full {
      background-image: url("../assets/imgs/icon_email--full.png");
      background-repeat: no-repeat;
      background-position: center; }
    .contact__icon--address {
      background-image: url("../assets/imgs/icon_address.png");
      background-repeat: no-repeat;
      background-position: center; }

.header {
  background-color: #2d3e50; }
  .header__logotype {
    display: block; }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 69px; }
  .header__contact:not(:last-child) {
    margin-right: 40px; }
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .nav__block {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style: none; }
  .nav__item:not(:last-child) {
    margin-right: 65px; }
  .nav__link {
    display: inline-block;
    padding-top: 5px;
    text-decoration: none;
    color: #252c30;
    border-bottom: 3px solid transparent;
    line-height: 53px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal; }
    .nav__link:hover {
      color: #06111d;
      border-bottom: 3px solid #fece76; }
    .nav__link.active {
      color: #06111d;
      border-bottom: 3px solid #fece76;
      font-weight: 600; }

.jumbotron {
  padding-top: 287px;
  padding-bottom: 297px;
  background-image: url("../assets/imgs/main-jumbotron-bg.jpg");
  background-repeat: 0;
  background-position: center;
  background-size: cover; }
  .jumbotron--about {
    padding-top: 185px;
    padding-bottom: 75px;
    background-image: url("../assets/imgs/about-jumbotron-bg.jpg"); }
  .jumbotron--directorate {
    padding-top: 185px;
    padding-bottom: 75px;
    background-image: url("../assets/imgs/directorate-jumbotron-bg.jpg"); }
  .jumbotron--clients {
    padding-top: 185px;
    padding-bottom: 75px;
    background-image: url("../assets/imgs/client-jumbotron-bg.jpg"); }
  .jumbotron--services {
    padding-top: 185px;
    padding-bottom: 75px;
    background-image: url("../assets/imgs/services-jumbotron-bg.jpg"); }
  .jumbotron__heading {
    position: relative;
    max-width: 510px;
    margin: 0;
    margin-bottom: 31px;
    padding: 0;
    padding-top: 32px;
    color: white;
    font-family: "Proxima Nova", sans-serif;
    font-size: 41px;
    font-weight: 400;
    font-style: normal; }
    .jumbotron__heading:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 57px;
      height: 5px;
      content: '';
      background-color: #fece76; }
  .jumbotron--about .jumbotron__heading,
  .jumbotron--services .jumbotron__heading,
  .jumbotron--clients .jumbotron__heading,
  .jumbotron--directorate .jumbotron__heading {
    padding: 0;
    margin: 0; }
    .jumbotron--about .jumbotron__heading:before,
    .jumbotron--services .jumbotron__heading:before,
    .jumbotron--clients .jumbotron__heading:before,
    .jumbotron--directorate .jumbotron__heading:before {
      display: none; }
  .jumbotron__btn-container {
    margin: 0; }

.service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 255px;
  min-height: 380px;
  padding: 30px 25px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: white;
  background-color: #2d3e50;
  text-decoration: none;
  line-height: 27px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .service-card:hover {
    text-decoration: underline; }
  .service-card--audit {
    background-image: url("../assets/imgs/main-services-audit.jpg"); }
  .service-card--strategy {
    background-image: url("../assets/imgs/main-services-strategy.jpg"); }
  .service-card--taxes {
    background-image: url("../assets/imgs/main-services-taxes.jpg"); }
  .service-card--other {
    background-image: url("../assets/imgs/main-services-other.jpg"); }
  .service-card__line {
    display: inline-block;
    min-height: 27px; }
    .service-card__line:first-child {
      position: relative;
      padding-top: 24px; }
      .service-card__line:first-child:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 28px;
        height: 3px;
        content: '';
        background-color: #fece76; }

.card {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 350px;
  min-height: 140px;
  padding: 25px 20px;
  color: #252c30;
  background-color: #f6f6f6; }
  .card--link {
    height: 100%;
    text-decoration: none; }
    .card--link:hover {
      text-decoration: underline; }
  .card--align--left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .card__name {
    text-align: center;
    text-transform: uppercase;
    color: #252c30;
    line-height: 24px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal; }
    .card__name:not(:last-child) {
      margin-bottom: 1px; }
  .card--align--left .card__name {
    text-align: left; }
  .card__descr {
    text-align: center;
    color: #252c30;
    line-height: 24px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal; }
  .card--align--left .card__descr {
    text-align: left; }

.services {
  padding-top: 80px;
  padding-bottom: 140px; }
  .services__heading {
    margin-bottom: 30px; }
  .services__paragraph {
    text-align: center;
    max-width: 795px;
    margin: 0 auto; }
    .services__paragraph--bold {
      font-weight: 500; }
  .services__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.infographics {
  background-color: #2d3e50;
  background-image: url("../assets/imgs/main-infographics-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto; }
  .infographics__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 272px;
    padding-top: 12px; }
  .infographics__figure {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: #f8c870;
    line-height: 100%;
    font-family: "Proxima Nova", sans-serif;
    font-size: 45px;
    font-weight: 500;
    font-style: normal; }
  .infographics__caption {
    display: block;
    text-align: center;
    color: white;
    line-height: 1.16;
    font-family: "Proxima Nova", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-style: normal; }
  .infographics__item {
    margin: 0;
    padding: 0;
    max-width: 325px; }

.industry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  min-height: 160px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-color: #ededed;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }
  .industry__name {
    line-height: 1.16;
    color: #232323;
    font-family: "Proxima Nova", sans-serif;
    font-size: 26px;
    font-weight: 600;
    font-style: normal; }
  .industry__icon {
    min-width: 65px;
    height: 100%;
    background-position: center;
    background-size: auto;
    margin-right: 15px; }
    .industry__icon--energy {
      background-image: url("../assets/imgs/icon_energy.png");
      background-repeat: no-repeat; }
    .industry__icon--transport {
      background-image: url("../assets/imgs/icon_transport.png");
      background-repeat: no-repeat; }
    .industry__icon--science {
      background-image: url("../assets/imgs/icon_science.png");
      background-repeat: no-repeat; }
    .industry__icon--chemistry {
      background-image: url("../assets/imgs/icon_chemistry.png");
      background-repeat: no-repeat; }
    .industry__icon--building {
      background-image: url("../assets/imgs/icon_building.png");
      background-repeat: no-repeat; }
    .industry__icon--metal-industry {
      background-image: url("../assets/imgs/icon_metal-industry.png");
      background-repeat: no-repeat; }
    .industry__icon--medicine {
      background-image: url("../assets/imgs/icon_medicine.png");
      background-repeat: no-repeat; }
    .industry__icon--finances {
      background-image: url("../assets/imgs/icon_finances.png");
      background-repeat: no-repeat; }
    .industry__icon--trading {
      background-image: url("../assets/imgs/icon_trading.png");
      background-repeat: no-repeat; }

.industries {
  padding-top: 85px;
  padding-bottom: 115px;
  background-color: #f6f6f6; }
  .industries__heading {
    margin-bottom: 22px; }
  .industries__paragraph {
    max-width: 715px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 35px; }
  .industries__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    list-style: none;
    margin-top: -20px; }
    .industries__list-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 20px; }

.clients {
  padding-top: 125px;
  padding-bottom: 125px; }
  .clients__heading {
    margin-bottom: 20px; }
  .clients__paragraph {
    max-width: 705px;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center; }
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0;
    list-style: none; }
  .clients__item {
    width: 25%;
    min-height: 104px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .clients__item:nth-child(n + 5) {
      margin-top: 100px; }
  .clients__logotype {
    display: inline-block; }

.footer {
  padding-top: 80px;
  background-color: #2d3e50; }
  .footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 69px;
    margin: 0;
    color: #9ca7b2;
    background-color: #29313a;
    line-height: 100%;
    font-family: "Proxima Nova", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin-top: 55px; }
  .footer__nav {
    margin: 0;
    padding: 0;
    list-style: none; }
    .footer__nav--contacts {
      width: 255px;
      margin-left: 80px; }
    .footer__nav-item:not(:last-child) {
      margin-bottom: 20px; }
    .footer__nav--contacts .footer__nav-item:not(:last-child) {
      margin-bottom: 15px; }
    .footer__nav-text {
      font-family: "Proxima Nova", sans-serif;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      color: white;
      text-decoration: none; }
      .footer__nav-text:hover {
        text-decoration: underline; }
    .footer__nav-heading {
      display: inline-block;
      margin-bottom: 25px;
      text-decoration: none;
      color: white;
      line-height: 100%;
      font-family: "Proxima Nova", sans-serif;
      font-size: 18px;
      font-weight: 400;
      font-style: normal; }
      .footer__nav-heading:hover {
        text-decoration: underline; }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 7px; }

.page-about__info {
  padding-top: 110px;
  padding-bottom: 140px; }

.page-about__principles {
  padding-top: 110px;
  padding-bottom: 140px;
  background-color: #f6f6f6; }

.page-about__contacts {
  padding-top: 110px;
  padding-bottom: 140px; }

.page-about__heading {
  margin: 0;
  text-align: left;
  max-width: 540px;
  margin-bottom: 50px; }
  .page-about__heading:before {
    left: 0;
    -webkit-transform: none;
            transform: none; }

.page-about__list-heading {
  margin-top: 0;
  margin-bottom: 0; }

.page-about__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .page-about__list li {
    position: relative;
    padding-left: 35px; }
    .page-about__list li:before {
      display: block;
      content: '';
      position: absolute;
      left: 3px;
      top: 15px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: #232323; }

.page-about__paragraph {
  margin-top: 0;
  margin-bottom: 30px; }
  .page-about__paragraph--no-margin {
    margin-bottom: 0; }

.page-clients {
  padding-top: 90px; }
  .page-clients__heading {
    padding-bottom: 40px; }
  .page-clients__gratitude {
    padding-top: 100px;
    padding-bottom: 140px; }
    .page-clients__gratitude-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .page-clients__gratitude-list li:nth-child(n + 4) {
        margin-top: 20px; }
  .page-clients__paragraph {
    margin-bottom: 50px; }
    .page-clients__paragraph--gratitude {
      text-align: center;
      max-width: 735px;
      margin-left: auto;
      margin-right: auto; }
  .page-clients__roster {
    margin-top: 30px;
    padding-top: 70px;
    padding-bottom: 150px;
    background-color: #f6f6f6; }
  .page-clients__lists-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .page-clients__item:not(:last-child) {
    margin-bottom: 95px; }
  .page-clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 515px;
    margin: 0;
    padding: 0;
    list-style: none; }
    .page-clients__list-heading {
      margin-bottom: 55px;
      text-align: left; }
      .page-clients__list-heading:before {
        left: 0;
        -webkit-transform: none;
                transform: none; }
  .page-clients__sublist {
    margin: 0;
    padding: 0;
    list-style: none; }
    .page-clients__sublist-item {
      position: relative;
      padding-left: 35px; }
      .page-clients__sublist-item:before {
        position: absolute;
        top: 15px;
        left: 3px;
        display: block;
        width: 4px;
        height: 4px;
        content: '';
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        border-radius: 100%;
        background-color: #232323; }

.page-services__heading {
  margin-bottom: 20px;
  text-align: left; }
  .page-services__heading:before {
    left: 0;
    -webkit-transform: none;
            transform: none; }

.page-services__paragraph {
  margin-bottom: 55px;
  margin-top: 0; }
  .page-services__paragraph--no-margin {
    margin-bottom: 0; }
  .page-services__paragraph--margin--md {
    margin-bottom: 40px; }
  .page-services__paragraph--margin--xs {
    margin-bottom: 20px; }
  .page-services__paragraph--margin--sm {
    margin-bottom: 30px; }
  .page-services__paragraph--other {
    max-width: 865px; }

.page-services__block {
  position: relative;
  padding-top: 60px;
  padding-bottom: 45px; }
  .page-services__block:after {
    position: absolute;
    bottom: 0;
    left: 15px;
    display: block;
    width: calc(100% - 30px);
    height: 1px;
    content: '';
    background-color: #999aa6; }

.page-services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .page-services__cards-paragraph {
    max-width: 735px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center; }

.page-services__list {
  padding-left: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none; }
  .page-services__list li:nth-child(n + 4) {
    margin-top: 25px; }

.page-services__accordion .page-services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  .page-services__accordion .page-services__list li {
    position: relative;
    padding-left: 15px; }
    .page-services__accordion .page-services__list li:nth-child(n) {
      margin-top: 10px; }
      .page-services__accordion .page-services__list li:nth-child(n).no-margin {
        margin-top: 0; }
    .page-services__accordion .page-services__list li:before {
      display: block;
      content: '';
      position: absolute;
      left: 2px;
      top: 15px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: #232323; }
    .page-services__accordion .page-services__list li.no-marker:before {
      display: none; }

.page-services__programs {
  margin-top: 140px;
  padding-top: 140px;
  padding-bottom: 200px;
  background-color: #f6f6f6; }
  .page-services__programs-heading {
    margin-bottom: 25px; }
  .page-services__programs-paragraph {
    text-align: center;
    margin: 0;
    margin-bottom: 70px; }

.page-services__accordion {
  color: #252c30;
  background-color: #ededed; }
  .page-services__accordion:not(:last-child) {
    margin-bottom: 6px; }
  .page-services__accordion-heading {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 18px 30px 16px;
    cursor: pointer;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal; }
    .page-services__accordion-heading:after {
      position: absolute;
      top: 31px;
      right: 30px;
      display: block;
      width: 10px;
      height: 6px;
      content: '';
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      background-image: url("../assets/imgs/icon_arrow.png"); }
  .page-services__accordion-content {
    display: block;
    padding: 0 30px 16px; }
  [data-accordion="collapse"] .page-services__accordion-content {
    display: none; }
  [data-accordion="show"] .page-services__accordion-content {
    display: block; }

.page-services__link {
  color: #d98d02; }
  .page-services__link:hover {
    color: rgba(217, 141, 2, 0.7); }
  .page-services__link--grey {
    color: #232323; }
    .page-services__link--grey:hover {
      color: #d98d02; }

.page-directorate__heads {
  padding-top: 68px;
  padding-bottom: 85px; }
  .page-directorate__heads:last-of-type {
    padding-bottom: 210px; }

.page-directorate__heading {
  margin: 0;
  text-align: left;
  margin-bottom: 0; }
  .page-directorate__heading:before {
    left: 0;
    -webkit-transform: none;
            transform: none; }
  .page-directorate__heading-caption {
    margin-top: 0;
    margin-bottom: 0;
    color: #252c30;
    line-height: 24px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal; }

.page-directorate__list-heading {
  margin-top: 0;
  margin-bottom: 0; }

.page-directorate__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .page-directorate__list--paragraph-like:not(:last-child) {
    margin-bottom: 30px; }
  .page-directorate__list li {
    position: relative; }
  .page-directorate__list-line {
    display: block; }
  .page-directorate__list-marker {
    padding-left: 15px; }
    .page-directorate__list-marker:before {
      display: block;
      content: '';
      position: absolute;
      left: 4px;
      top: 15px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 5px;
      height: 2px;
      border-radius: 0;
      background-color: #232323; }

.page-directorate__paragraph {
  margin-top: 0;
  margin-bottom: 30px; }
  .page-directorate__paragraph--no-margin {
    margin-bottom: 0; }
  .page-directorate__paragraph--position--1st {
    margin-top: 50px; }
